//
//  keys.xcconfig
//  Virtual Tourist
//
//  Created by Abdoulaye Diallo on 4/24/20.
//  Copyright © 2020 Abdoulaye Diallo. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FLICKR_API_KEY = _YOUR_FLICKER_API

//FLICKR_API_KEY = 104f26aa9f5183008eed35286b683ad1
